<section id="cd-intro">
  <div id="cd-intro-background"></div>
  <div id="cd-intro-tagline">
    <h1>Responsive Landing Page</h1>
  </div> <!--cd-intro-tagline-->
</section> <!--cd-intro-->


<main class="cd-content">
  <div class="cd-container">
    <h2>This is the title</h2>
    <p>Compellingly actualize web-enabled value for front-end supply chains.
    Dramatically predominate 24/365 experiences whereas inexpensive bandwidth.
    Proactively facilitate 2.0 supply chains for scalable e-markets.
    Intrinsicly parallel task seamless relationships vis-a-vis diverse meta-services.
    Phosfluorescently pontificate economically sound bandwidth after ethical strategic theme areas.
    Seamlessly syndicate parallel growth strategies vis-a-vis wireless imperatives.
    Rapidiously enhance leveraged human capital whereas plug-and-play platforms.
    Continually monetize impactful leadership.</p>
    <p>Continually promote sticky process improvements vis-a-vis timely channels.
    Objectively develop top-line infrastructures after granular e-commerce.
    Holisticly parallel task strategic quality vectors without out-of-the-box human capital.
    Dynamically foster virtual leadership skills whereas quality core competencies.
    Dramatically optimize parallel scenarios rather than interactive alignments.
    Quickly monetize top-line scenarios with leading-edge synergy.
    Synergistically negotiate multidisciplinary services whereas installed base functionalities.
    Appropriately impact just in time materials through B2C e-business.
    Energistically productivate top-line leadership skills through top-line potentialities.
    Seamlessly recaptiualize backend e-business rather than extensible deliverables.
    Synergistically foster cross functional users whereas 24/365 "outside the box" thinking.
    Credibly transition turnkey channels before progressive collaboration and idea-sharing.
    Competently matrix standards compliant users without an expanded array of convergence.
    Dynamically morph orthogonal mindshare vis-a-vis business schemas.
    Professionally transition long-term high-impact sources and distinctive channels.
    Efficiently actualize 24/365 relationships via proactive partnerships.
    Appropriately myocardinate efficient human capital with team building paradigms.
    Appropriately supply high-quality human capital with top-line customer service.
    Appropriately scale multimedia based imperatives and fully researched relationships.
    Competently provide access to real-time architectures after sticky process improvements.
    Holisticly transform high standards in relationships for ubiquitous outsourcing.
    Monotonectally pontificate distinctive convergence.</p>
  </div>
</main>